{
    "jwtSecret": "XXXXXXXXXXXXX",
    "twitter": {
        "consumerKey": "XXXXXXXXXXXXX",
        "consumerSecret": "XXXXXXXXXXXXX",
        "twiteloID": "846389815104999424",
        "twiteloBotConsumerKey": "XXXXXXXXXXXXX",
        "twiteloBotConsumerSecret": "XXXXXXXXXXXXX",
        "twiteloAccessToken": "XXXXXXXXXXXXX",
        "twiteloAccessTokenSecret": "XXXXXXXXXXXXX"
    },
    "game": {
        "lol": {
            "apiKey": "XXXXXXXXXXXXX"
        }
    },
    "webhooks": {
        "dev": {
            "logDiscordWebhook": "URL",
            "infoDiscordWebhook": "URL",
            "errorDiscordWebhook": "URL",
            "fullErrorDiscordWebhook": "URL",
            "recapGameDiscordWebhook": "URL",
            "recapTwitterDiscordWebhook": "URL",
            "newUserDiscordWebhook": "URL",
            "userActionsDiscordWebhook": "URL",
            "contactWebhook": "URL"
        },
        "beta": {
            "logDiscordWebhook": "URL",
            "infoDiscordWebhook": "URL",
            "errorDiscordWebhook": "URL",
            "fullErrorDiscordWebhook": "URL",
            "recapGameDiscordWebhook": "URL",
            "recapTwitterDiscordWebhook": "URL",
            "newUserDiscordWebhook": "URL",
            "userActionsDiscordWebhook": "URL",
            "contactWebhook": "URL"
        },
        "prod": {
            "logDiscordWebhook": "URL",
            "infoDiscordWebhook": "URL",
            "errorDiscordWebhook": "URL",
            "fullErrorDiscordWebhook": "URL",
            "recapGameDiscordWebhook": "URL",
            "recapTwitterDiscordWebhook": "URL",
            "newUserDiscordWebhook": "URL",
            "userActionsDiscordWebhook": "URL",
            "contactWebhook": "URL"
        }
    }
}