{
    "jwtSecret": "XXXXXXXXXXXXX",
    "twitter": {
        "consumerKey": "XXXXXXXXXXXXX",
        "consumerSecret": "XXXXXXXXXXXXX",
        "twiteloID": "846389815104999424",
        "twiteloAccessToken": "XXXXXXXXXXXXX",
        "twiteloAccessTokenSecret": "XXXXXXXXXXXXX"
    }
}